h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

a {
    display: block;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}

a:hover {
    color: #f00;
}

